main {
    display: block;
    max-width: fit-content;
}

nav {
    display: flex;
    gap: 20px;
    padding: 10px 10px 0px 10px;
    justify-content: right;
}

nav a {
    color: #ffffff;
    padding: 5px;
    margin: 0;
    font-size: 20px;
    background-color: #999999;
    border-radius: 10%;
    text-decoration: none;
    box-shadow: 0 0 30px #808080;
}

h1 {
    text-align: center;
    /*padding-top: 40px;*/
    color: #5b6dcd;
}

h2 {
    color: #666666;
    margin: 10px
}

main img {
    float: left;
    width: 150px;
    height: auto;
    margin: 10px 20px 10px 10px;
    border-radius: 30%;
    box-shadow: 0 0 10px #808080;
}

cite {
    font-size: larger;
    font-weight: bolder;
    text-align: center;
}

p {
    padding: 0;
    text-indent: 20px;
    margin: 0 10px;

}

aside {
    display: flex;
    flex-direction: row-reverse;
    flex: 1;
    width: 400px;
    margin: 20px 10px 10px 10px;
    padding: 10px;
    background-color: #f6edcb;
    align-items: center;
}

aside img {
    width: 100px;
    height: 80px;
    border-radius: 50% 50% 50% 70%;
    margin-top: 10px;
}

aside blockquote {
    margin-top: 10px;
    margin-left: 0;
    padding-left: 10px;
    margin-right: 0;
}

aside blockquote p {
    padding: 0 1px 0 0;
    margin: 0 0 2px 0;
    font-style: italic;
    font-size: small;
    text-indent: 20px;
}

footer {
    flex: 1;
    margin-top: 20px;
    text-align: center;
}